
    body {
      background-color: black;
      margin: 10px;
      text-align: center;
    }
    
.title {
  color: blue;
  font-size: 80px;
  font-weight: 8px;
}
    video {
      max-width: 50%;
      margin: 50px;
    }
    
    .container {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
